<div id="flash_messages">
  <%= render 'shared_partials/flash_message', :style => 'notice', :message => flash[:notice] %>
  <%= render 'shared_partials/flash_message', :style => 'error',  :message => flash[:error] %>
</div>