<% if message %>
  <div id="_ajax_flash_<%=style || 'notice'-%>" style="display:none">
    <%= render 'shared_partials/flash_message', :style => (style || 'notice'), :message => message %>
  </div>
<% end %>