<div class="pui-overlay" id="common-help">
  <h3 class="section">Hilfe?</h3>
  <p>
    Sie haben Fragen zu Ihren Seminarapparaten, möchten Hilfe bei technischen Problemen oder eine Beratung?
    Dann stehen Ihnen die folgenden Ansprechpartner zur Verfügung:
  </p>
  <ul>
    <li>
      <b>Hilfe bei Fragen und Beratung zu Seminarapparaten:</b>
      <br/>
      <i>Informationszentrum (Universitätsbibliothek)</i>
      <br/>
      E-Mail: <a href="mailto:information@ub.uni-paderborn.de">information@ub.uni-paderborn.de</a>
      <br/>
      Tel.: 05251 / 602017
      <br/>
      Tel.: 05251 / 603953
      <br/>
    </li>
    <li>
      <b>Hilfe bei technischen Problemen:</b>
      <br/>
      <i>René Sprotte (Universitätsbibliothek)</i>
      <br/>
      E-Mail: <a href="mailto:r.sprotte@ub.uni-paderborn.de">r.sprotte@ub.uni-paderborn.de</a>
      <br/>
      Tel.: 05251 / 604251
      <br/>
    </li>
  </ul>
</div>