&copy; <%= Time.now.year %> <a href="http://www.ub.uni-paderborn.de">Universitätsbibliothek Paderborn</a> |
<a href="http://www.ub.uni-paderborn.de/ueber-uns/impressum/">Impressum</a> |
<a href="http://www.uni-paderborn.de/quicklink/datenschutz">Datenschutzerklärung</a>
