<!--[if lte IE 6]>
<style type="text/css">
  #ie6msg {border:3px solid #090; margin: 8px 20px; background:#cfc; color:#000; text-align: left;}
  #ie6msg h4 {margin:8px; padding:0;}
  #ie6msg p {margin:8px; padding:0;}
  #ie6msg p a.getie7 {font-weight:bold; color:#006;}
  #ie6msg p a.ie6expl {font-weight:normal; color:#006;}
</style>
<div id="ie6msg">
  <h4>Wussten Sie, dass Ihr Browser veraltet ist?</h4>
  <p>
    Ihr Browser gehört zu den Urgesteinen des Internets. Diese Seite darin gut aussehen zu lassen
    und vern&uuml;nftig benutzbar zu machen ist leider nicht möglich.
  </p>
  <p>
    Wir empfehlen Ihnen - <strong>nicht zuletzt aus Sicherheitsgr&uuml;nden</strong> - Ihren Browser zu
    aktualisieren. Die neuste Version Ihres derzeit verwendeten Browsers ist der
    <a href="http://www.microsoft.com/windows/Internet-explorer">Internet Explorer 8</a>.
    Die Aktualisierung ist kostenfrei. Wenn Sie von Ihrem Arbeitsplatz aus surfen, so fragen Sie
    bitte Ihren Systemadministrator.
  </p>
  <p>
    Als bessere Alternative können Sie auch einen der anderen kostenfreien Browser nutzen:
    <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a>,
    <a href="http://www.apple.com/de/safari/download/">Apple Safari</a>,
    <a href="http://www.opera.com/">Opera</a> oder
    <a href="http://www.google.com/chrome/">Google Chrome</a>.
  </p>
</div>
<![endif]-->
