<div class="pui-overlay" id="legal-info">
  <h3 class="section">Seminarapparate und Urheberrecht</h3>
  <p>
    Die Universitätsbibliothek möchte hier auf wichtige rechtliche Rahmenbedingungen hinweisen,
    die Sie als Dozent/Dozentin kennen sollten, wenn Sie einen Seminarapparat anbieten.
  </p>
  <p>
    <a href="https://www.ub.uni-paderborn.de/recherche/hinweise-zur-nutzung-der-elektronischen-angebote/60a-urhwissg/" target="_blank">Klicken Sie hier für weitere Informationen</a>.
  </p>
</div>
