<div class="pui-overlay" id="legal-info">
  <h3 class="section">Seminarapparate und Urheberrecht</h3>
  <p>
    An dieser Stelle wird keine Rechtsberatung zum Urheberrechtsgesetz gegeben. Die Universitätsbibliothek
    möchte hier jedoch auf wichtige rechtliche Rahmenbedingungen hinweisen, die Sie als Dozent/Dozentin kennen
    sollten, wenn Sie einen Seminarapparat anbieten.
  </p>
  <h4 class="section">§ 52a: Öffentliche Zugänglichmachung für Unterricht und Forschung</h4>
  <p>
    <strong>
      Unter den § 52a "Öffentliche Zugänglichmachung für Unterricht und Forschung" des geltenden deutschen
      Urheberrechtes fällt auch die Bereitstellung von urheberrechtlich geschützten Texten auf elektronischen
      Lernplattformen. Dort werden in Absatz 1 genannt:
    </strong>
  </p>
  <ul>
    <li>
      "kleine Teile eines Werkes", z.B. einige Seiten aus einem Buch. Ein Urteil des Bundesgerichtshofes
      spezifiziert, dass damit höchstens 12% bzw. nicht mehr als 100 Seiten eines Werkes gemeint sind.<br/>
      <%= link_to '&raquo; s. dazu die Information der UB vom 31.07.2014'.html_safe, '/static_files/52a-BGH-Entscheidung.pdf', target: '_blank' %>
    </li>
    <li>
      "einzelne Beiträge aus Zeitungen oder Zeitschriften", z.B. einen Aufsatz aus einer Fachzeitschrift.
    </li>
    <li>
      der Bestimmungszweck "zur Veranschaulichung im Unterricht an ... Hochschulen .. ausschließlich für den
      bestimmt abgegrenzten Kreis von Unterrichtsteilnehmern". Seminarapparate sind in diesem System daher
      grundsätzlich durch ein Passwort geschützt, so dass nur die Studierenden Ihrer Lehrveranstaltung
      Zugang zu den Texten haben."
    </li>
    <li>
      Für die öffentliche Zugänglichmachung nach Absatz 1 ist eine angemessene Vergütung zu zahlen.
      <!--Diese Vergütung zahlt die Universitätsbibliothek, für Sie als Dozentin bzw. Dozent ist die
      Zugänglichmachung solcher Texte im Seminarapparat kostenfrei.-->
    </li>
  </ul>
</div>
