<div class="section">
  <h3>&raquo; eSeminarapparate</h3>
  <ul>
    <li><%= link_to('Gesamtliste', sem_apps_path) %></li>
    <% if current_user %>
      <li><%= link_to('Meine eSeminarapparate', user_path(:anchor => 'apps')) %></li>
    <% end %>
  </ul>
</div>

<div class="section">
  <h3>&raquo; Für Lehrende</h3>
  <ul>
    <li><%= link_to('eSeminarapparat beantragen', new_sem_app_path) %></li>
  </ul>
</div>