<% unless sem_app.approved? %>
  <%= icon 'exclamation-diamond.png' %>
  Wird von der Universit채tsbibiothek 체berpr체ft
<% else %>
  <%= icon 'tick-circle.png' %>
  <span>Erfolgreich gepr체ft</span>
<% end %>