<% unless sem_app.approved? %>
  <%= icon 'exclamation-diamond.png' %>
  Wird von der Universitätsbibiothek überprüft
<% else %>
  <%= icon 'tick-circle.png' %>
  <span>Freigeschaltet</span>
<% end %>
