<%
links = [
  [:account, 'Ihr Konto', user_path],
  [:ownerships, 'eSeminarapparate', root_path]
]
%>

<ul class="pui-tabbar">
  <% links.each do |l| %>
    <li>
      <% if active_tab == l[0] %>
        <%= link_to(l[1], l[2], :class => 'current') %>
      <% else %>
        <%= link_to(l[1], l[2]) %>
      <% end %>
    </li>
  <% end %>
</ul>