<h3 class="section">Einen neuen Scanauftrag beauftragen</h3>

<div class="pui-panel notice">
  Hiermit beauftragen Sie die Bibliothek, für Sie den folgenden Artikel bzw. den folgenden Buchauszug,
  für Ihren e-Seminarapparat <strong><%= h(@scanjob.entry.sem_app.title) %></strong> einzuscannen.
  [Hier noch Hinweise]
</div>

<%= render 'form' %>