<h3 class="section">Einen neuen Scanauftrag beauftragen</h3>

<div class="pui-panel notice">
  Hiermit beauftragen Sie die Bibliothek, f&uuml;r Sie den folgenden Artikel bzw. den folgenden Buchauszug,
  f&uuml;r Ihren Seminarapparat <strong><%= h(@scanjob.entry.sem_app.title) %></strong> einzuscannen.<br/>
  <%= icon 'asterisk.png' %>
  Bitte beachten Sie: Nachdem Sie den Auftrag abgeschickt haben, wird der Eintrag für die Zeit der Bearbeitung
  durch die Bibliothek gesperrt.
  In dieser Zeit können Sie den Eintrag selbst nicht verändern oder löschen. Bitte prüfen Sie vorher sorgfältig,
  dass alle Angaben korrekt und vollständig sind.
</div>

<%= render 'form' %>