<h3 class="section">Einen neuen Scanauftrag beauftragen</h3>

<p>
  Hiermit beauftragen Sie die Bibliothek, für Sie den folgenden Artikel bzw. den folgenden Buchauszug,
  für Ihren Seminarapparat <strong><%= @scanjob.entry.sem_app.full_title %></strong> einzuscannen.
</p>

<div class="pui-panel notice">
  <%= icon 'asterisk.png' %>
  Bitte beachten Sie: Nachdem Sie den Auftrag abgeschickt haben, wird der Eintrag für die Zeit der Bearbeitung
  durch die Bibliothek gesperrt.
  In dieser Zeit können Sie den Eintrag selbst nicht verändern oder löschen. Bitte prüfen Sie vorher sorgfältig,
  dass alle Angaben korrekt und vollständig sind.
</div>

<%= render 'form' %>
