[submodule "vendor/plugins/pui"]
  path = vendor/plugins/pui
  url = git@github.com:provideal/pui.git
[submodule "vendor/plugins/plugin-utils"]
	path = vendor/plugins/plugin-utils
	url = git@github.com:provideal/plugin-utils.git
