<% form_for [:admin, @sem_app, @ownership], :html => {:class => 'puiform'} do |f| %>
  <fieldset>
    <legend>Benutzer</legend>
    <ol>
      <li>
        <%= f.label             :user, "User" %>
        <%= f.collection_select :user_id, User.find(:all), :id, :login, :prompt => 'Bitte wählen Sie einen Nutzer' %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_sem_app_ownerships_path %>
  </fieldset>
<% end %>

