<% form_tag(ubdok_sem_app_import_url, :id => "ubdok-import-form") do %>
  <div style="padding: 10px;" class="ui-state-highlight ui-corner-all">
    <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
    Um einen eSeminarapparat aus dem alten System zu importieren, geben Sie bitte dessen URL
    in das nachfolgenden Feld ein und drücken auf "Importieren".
  </div>
  <p>
    <label>UBDok URL:</label>
    <%= text_field_tag(:ubdok_sem_app_url, '', :size => 40) %>
    <%= hidden_field_tag :sem_app_id, sem_app.id %>
  </p>
<% end %>