<a href="#" id="users-picker-launcher">Neuen Besitzer hinzuf&uuml;gen</a>

<div id="users-picker-dialog" title="Benutzer ausw&auml;hlen..." style="display:none">

  <form id="filter-form" action="#">
    <div style="text-align: right">
      <span>Filter:</span>
      <%= text_field_tag :filter %>
      <%= submit_tag 'Suchen', :id => 'filter-button' %>
    </div>
  </form>

  <div id="users-listing"></div>
  
</div>

<script type="text/javascript">
  jQuery(function() {
    /* Build the dialog */
    jQuery('#users-picker-dialog').dialog({
      modal: true,
      autoOpen: false,
      width: 320,
      height: 450
    });

    /* Listening for click events on #users_picker_launcher */
    jQuery("#users-picker-launcher").click(function() {
      jQuery('#users-picker-dialog').dialog('open');
    });

    /* Submit the filer form via ajax */
    jQuery("#filter-form #filter-button").click(function() {
      jQuery.ajax({
        type: "GET",
        url: '<%=admin_utils_users_picker_path("js")-%>',
        data: jQuery("#filter-form").serialize(),
        success: function(msg) {
          jQuery("#users-listing").replaceWith(msg);
        }
      });
      return false;
    });

    /* Listening for clicks on the 'picker' links in the users listing */
    jQuery("a[rel=pick-user]").live("click", function() {
      user_id = jQuery(this).attr('id');
      add_ownership(user_id);
      return false;
    });

    function add_ownership(user_id) {
      jQuery('#users-picker-dialog').dialog('close');

      jQuery.ajax({
        type: "POST",
        url: '<%=admin_sem_app_ownerships_path(@sem_app, "js")-%>',
        data: "ownership[user_id]="+user_id,
        success: function(msg) {
          jQuery("#ownerships-listing").replaceWith(msg);
        }
      });
      return false;
    }

  });
</script>

