<h3>eSeminarapprat '<%= link_to @sem_app.title, sem_app_url(@sem_app) %>' bearbeiten</h3>
<%= render 'admin/shared_partials/sem_app_edit_tabbar', :sem_app => @sem_app, :active_tab => :ownerships %>

<% if @ownerships and not @ownerships.empty?  %>
  <div class="pui-panel notice">
    <p>
      Folgende Nutzer sind mit dem Seminarapparat als Besitzer verknüpft.
      Besitzer können den Seminarapparat bearbeiten und verwalten.
    </p>
  </div>
<% end %>

<%= render 'users_picker_dialog' %>

<%= render 'listing' %>
