<%= render 'admin/shared_partials/sem_app_edit_tabbar', :sem_app => @sem_app, :active_tab => :ownerships %>

<% pui_panel :style => 'text-align: right' do %>
  <%= pui_link_button 'Neuen Besitzer anlegen', new_admin_sem_app_ownership_path(@sem_app), :icon => 'plusthick' %>
<% end %>

<% pui_panel :panel_style => 'highlight' do %>
  <p style="font-size: 90%">
    Folgende Nutzer sind mit dem eSeminarapparat als Besitzer verknüpft.
    Besitzer können die Inhalte des eSeminarapparats bearbeiten. Ist der
    Nutzer zusätzlich als 'admin' gekennzeichnet, kann er diesen eSeminarapparat
    verwalten (PIN ändern etc.)
  </p>
<% end %>

<% if @ownerships and not @ownerships.empty?  %>
  <table class="pui-datagrid">
    <tr>
      <th>Login</th>
      <th></th>
    </tr>
    <% @ownerships.each do |o| %>
      <tr>
        <td>
          <%= h(o.user.login) %>
        </td>
        <td align="right">
          <%= pui_link_icon 'Löschen', 'trash', admin_sem_app_ownership_path(@sem_app, o), :method => :delete, :confirm => "Soll der Besitzer #{o.user.login} wirklich gelöscht werden?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <% pui_panel :panel_style => 'highlight', :style => 'text-align:center' do %>
    <p>
      Keine Besitzer eingerichtet.
    </p>
  <% end %>
<% end %>