<% if entry.scanjob.present? %>
  <div class="pui-view">
    <%= icon 'asterisk.png' %>
    <i>Für diesen Eintrag wurde ein Scan in der Bibliothek beauftragt.
      Der Scan wird in kürze bereitgestellt.</i>
  </div>
<% end %>
