<% if entry.sem_app.editable?(current_user)  %>
  <div class="pui-view">
    <% if entry.scanjob.present? %>
      <div>
        <%= icon 'asterisk.png' %>
        <i>Für diesen Eintrag wurde ein Scan in der Bibliothek beauftragt.
        Der Scan wird in kürze bereitgestellt.</i>
      </div>
    <% else %>
      <p class="align-right">
        <%= link_to 'Einen Scan beaufragen', new_monograph_entry_scanjob_path(entry), :class => 'pui-button small' %>
      </p>
    <% end %>
  </div>
<% end %>