<% if entry.scanjob.present? %>
  <div class="pui-view">
    <%= icon 'asterisk.png' %>
    <i>F&uuml;r diesen Eintrag wurde ein Scan in der Bibliothek beauftragt.
      Der Scan wird in K&uuml;rze bereitgestellt.</i>
  </div>
<% end %>
