<% signature = entry.signature if entry.respond_to?(:signature) %>
<% signature = entry.source_signature if entry.respond_to?(:source_signature) %>

<% if signature.present? %>
  <div>
    Signatur: <%= signature -%>
    <%= link_to "https://katalog.ub.uni-paderborn.de/searches?if=lsr10&q=#{signature}&scope=catalog" do %>
      &raquo; Im Bibliothekskatalog anzeigen
    <% end %>
  </div>
<% end %>
