<% if signature.present? %>
  <div>
    Signatur: <%= signature -%>
    <% link_to "https://ubaleph.uni-paderborn.de/F/?func=find-b&find_code=PSG&request=#{Book.get_base_signature(signature)}?" do %>
      &raquo; Im Bibliothekskatalog anzeigen
    <% end %>
  </div>
<% end %>