<% signature = entry.signature if entry.respond_to?(:signature) %>
<% signature = entry.source_signature if entry.respond_to?(:source_signature) %>

<% if signature.present? %>
  <div>
    Signatur: <%= signature -%>
    <% link_to "https://ubaleph.uni-paderborn.de/F/?func=find-b&find_code=PSG&request=#{Book.get_base_signature2(signature)}?" do %>
      &raquo; Im Bibliothekskatalog anzeigen
    <% end %>
  </div>
<% end %>
