/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic {
  margin-bottom: 15px;
}

form.formtastic fieldset ol li {
  background-color: #efefef;
  margin-bottom: 2px;
  padding: 8px 0;
}

form.formtastic fieldset ol li.string input { width: auto; }
form.formtastic fieldset ol li.password input { width: auto; }
form.formtastic fieldset ol li.numeric input { width: auto; }

form.formtastic input, form.formtastic textarea, form.formtastic select {
  width: auto;
  padding: 6px;
  border: 1px solid #ccc;
}

form.formtastic legend {
  color: #888;
  font-size: 120%;
}

form.formtastic fieldset ol li label {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

form.formtastic fieldset.buttons {
  padding: 10px 10px 10px 160px;
  /*border: 1px solid #ddd;*/
  background-color: #efefef;
  /*-moz-border-radius: 4px;
  -webkit-border-radius: 4px;*/
}
form.formtastic fieldset.buttons ol li {
  padding: 0;
  margin: 0;
}

form.formtastic fieldset ol li.boolean label {
  padding-left: 0;
  margin-left: 160px;
}

form.formtastic fieldset ol li.boolean label input {
  margin-left: 0;
}

form.formtastic fieldset ol li.error {
  background-color: #FBE3E4;
}

form.formtastic fieldset ol li p.inline-errors {
  color: #8A1F11;
  margin: 0.2em 0 0 160px;
}


form.formtastic fieldset ol li p.inline-hints {
  margin: 0.2em 0 0 160px;
}
