/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic { margin-bottom: 15px; }

form.formtastic input, form.formtastic textarea, form.formtastic select { width: auto; padding: 6px; border: 1px solid #ccc; }

form.formtastic fieldset ol li { background-color: #efefef; margin-bottom: 2px; padding: 8px 0; }
form.formtastic fieldset ol li label { width: 150px; padding-left: 10px }
form.formtastic fieldset ol li.string input { width: auto; }
form.formtastic fieldset ol li.password input { width: auto; }
form.formtastic fieldset ol li.numeric input { width: auto; }
form.formtastic fieldset ol li.text textarea { width: 70%; }

form.formtastic fieldset.buttons { padding: 10px 10px 10px 160px; background-color: #efefef; }
form.formtastic fieldset.buttons ol li { padding: 0; margin: 0; }
form.formtastic fieldset.buttons ol li a, form.formtastic fieldset.buttons ol li input, form.formtastic fieldset.buttons ol li span { display: block; padding: 6px; }


form.formtastic legend { color: #888; font-size: 120%; }
form.formtastic fieldset ol li fieldset legend { font-size: 100%; color: #000; }