/*
** Global styles (some YAML overrides)
*/

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 12px;
}

p {
  margin: 0.8em 0;
}

ul, ol {
  margin: 0.5em 0;
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  color: #081c51;
  margin: 0.5em 0;
}

pre {
  padding: 0.5em;
  margin: 0.8em 0;
}

a:link {
  color: #081C5A;
  text-decoration:none;
}

a:visited {
  color: #081C5A;
  text-decoration: none;
}

a:hover {
  color: #009;
  text-decoration: underline;
}

/*
** UB Styles
*/
#raster {
  background: url(../images/page/raster.png) repeat-x;
  height: 61px;
  margin-bottom: 0;
  border: none;
}

#bluestripe {
  background: #081C5A;
  color: #000;
  height: 35px;
  margin: 0 0 1px 0;
  width: 100%;
  border: none;
}

#breadcrumb {
  background: #ccc;
  color: #009;
  border: none;
  margin-bottom: 1px;
  font-size: 11px;
  padding: 1px 1px 1px 17px;
}

#location {
  background: none;
  color: #fff;
}

#uniinf {
  width: 365px;
  height: 18px;
  position: relative;
  top: 0;
  left: 184px;
  z-index: 0;
}

.invisible {
  display: none;
}

/*
** YAML overrides
*/
#page_margins {
  width: 100%;
  background: #fff;
}

#page {
  padding: 0;
  margin: 0;
}

#main {
  margin: 10px 0;
  background: #fff;
}

#footer {
  font-size: 90%;
  padding: 10px 0 0 255px;
  border-top: 3px solid #e0e0e0;
  height: 8em;
  background-color: #f8f8f8;
}

#footer a {
  /*color: #fff;*/
}

#col1 {
  float: left;
  width: 230px;
}

#col2 {
  display: none
}

#col3 {
  max-width: 850px;
  margin: 0 0 0 230px;
}

#main {
  margin: 10px 0;
}

#col1_content {
  padding: 20px 10px 0 10px;
  border-right: 1px solid #e0e0e0;
}

#col3_content {
  padding: 20px 25px 20px 25px;
  line-height: 1.5em;
}

/*
** Content
*/
#applogo {
  background: transparent url( ../images/page/logo.gif ) no-repeat center;
  width: 100%;
  height: 69px;
  margin-bottom: 15px;
}

.section {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

div.panel {
  margin: 0 0 0.5em 0;
  overflow: hidden;
  padding: 0.7em 0.5em;
}

div.panel.info {
  background: #eaf2f5 url(../images/modules/box/info_bg.gif) repeat-x bottom;
  border: 1px solid #bedce7;
}

div.panel.highlight {
  background: #fdfdef;
  border: 1px solid #eae9e1;
}

/*
** Navigation (Main)
*/
#col1_content ul.nav {
  margin: 0 0 15px 0;
  padding: 0;
}

#col1_content ul.nav li {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #eaf2f5;
  border-left: 5px solid #eaf2f5;
}

#col1_content ul.nav li a {
  font-weight: normal;
  padding: 10px 5px 5px 5px;
  display: block;
}

#col1_content ul.nav li a:hover {
  text-decoration: none;
  background-color: #eaf2f5;
}

/*******************************************************************
**
** form
**
*******************************************************************/

fieldset {
  float: left;
  clear: left;
  width: 100%;
  padding: 0;
  border: none;
}

fieldset ol {
  padding: 1em 1em 0 1em;
  list-style: none;
}

fieldset li {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

fieldset li div.fieldWithErrors {
  padding: 1px;
  background-color: red;
  display: inline-block;
  vertical-align: top-line;
}

fieldset.submit {
  float: none;
  width: auto;
  border-style: none;
  text-align: center;
  padding: 8px 12px;
}

fieldset.submit a {
}

legend {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #454a51;
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #dbdddf;
  width: 100%;
}

label {
  float: left;
  width: 10em;
  margin-right: 1em;
  font-weight: bold;
  text-align: right;
}

input[type="text"], input[type="password"] {
  padding: 4px;
  color: #000;
  border: 1px solid #ccc;
}

textarea {
  line-height: 1.5;
  padding: 3px;
  border: 1px solid #ccc;
}


/*
** List Browser
*/
.browser {
  margin: 0.5em 0;
}

.browser table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.browser th {
  font-weight: normal;
  padding: 8px 5px;
  background-color: #eaeaea;
  color: #555555;
}

.browser td {
  padding: 6px 5px;
  background: #f8f8f8 url(../images/modules/list_browser/row_bg.png) repeat-x bottom;
}

.browser tr {
  border-bottom: 1px solid #e0e0e0;
}


/*
** Pagination
*/
div.pagination {
  margin: 0.5em 0;
  text-align: center;
}

div.pagination span {
  padding: 2px;
}

div.pagination a {
  padding: 2px;
}

div.pagination span.current {
  background-color: #bedce7;
}

div.pagination span.disabled {
  color: #888;
}


/*
** Sem App
*/
div.sem-app {
  margin: 2em 0;
}

div.sem-app .panel.toolbar {
  text-align: right;
  border-top: 1px solid #eaf2f5;
  border-bottom: 1px solid #eaf2f5;
  margin-bottom: 20px;
  padding: 10px 0;
}

ol.sem-app-entries {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.sem-app-entries li {
  margin: 0 0 0.6em 0;
  padding: 0;
  position: relative;
}

ol.sem-app-entries li.sem-app-entry {
  position: relative;
  padding: 0.5em;
  margin: 0;
}

ol.sem-app-entries li.sem-app-entry.highlight {
  background-color: #f9f895;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

ol.sem-app-entries li.sem-app-entry .toolbar {
  position: absolute;
  z-index: 100;
  height: 20px;
  right: 0;
  top: 0;
  text-align: left;
  padding: 6px 12px 0 12px;
}

ol.sem-app-entries li.sem-app-entry .confirmation-panel {
  background: url(../images/modules/sem_app_entry/confirmation-panel-bg.png) no-repeat;
	width: 232px;
	height: 112px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  top: -120px;
  right: -60px;
  text-align: center;
}

li.sem-app-entry .comment {
  font-style: italic;
  color: #333;
}

li.sem-app-entry .headline h2 {
  border-bottom: 1px solid #eaf2f5;
}

li.sem-app-entry .text {

}

li.sem-app-entry .weblink {

}

/*
** jQuery overrides and jQuery UI widget styling
*/
.ui-tabs-panel {
  padding: 1em 0;
}

.link-button {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

.link-button.small {
  padding: .15em 0.5em .15em 18px;
  font-size: 90%;
}

span.ui-icon {
  display: inline-block;
}

.link-button span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

#tabbar.ui-widget-content {
  border: none;
}

#tabbar.ui-tabs {
  padding: 0;
}

#tabbar.ui-tabs .ui-tabs-panel {
  padding: 1em 0;
}

#tabbar ul.ui-helper-clearfix {
  display: inline-block;
  width:99%;
}

