/* Basic HTML
----------------------------------------------------------------------------------------------------*/

/*
  Colors
    * dark-blue : #081c5a
    * dark-grey : #cbcdd3 (header), #d6d6d6 (borders)
    * light-grey: #eee (backgrounds, ...)
*/

/* Defauls provided by PUI. Overrides will follow... */

body {
  /*background: #626566 url(../images/page/body-bg.png) repeat top left;*/
  background: #b9b9b9 url(../images/page/body-bg.jpg) no-repeat top center;
}

a, a:visited {
  color: #081c5a;
}

img {
  margin: 0 0 -4px 0 !important;
}

.pui-collection-view .item {
  margin-bottom: 15px;
}

/* Page structure
----------------------------------------------------------------------------------------------------*/

#meta {
  /*background: transparent url(../images/page/meta-bg.png) repeat-x bottom left;*/
  line-height: 35px;
  overflow: hidden;
}

#header {
  background: url(../images/page/header-bg.png) repeat-x;
  height: 90px;
  overflow: visible;
}

.grid_padded {
  margin: 0;
  padding: 0 10px;
}

#stage-wrapper {
  background: url(../images/page/stage-wrapper-bg.png) no-repeat bottom center;
  height: 94px;
  margin-top: -4px;
}

#sidebar-wrapper {
  background: url(../images/page/sidebar-wrapper-bg.png) repeat-y top center;
}

#sidebar {
  padding: 20px 0 5px 0;
  background: url(../images/page/sidebar-bg.png) no-repeat bottom center;
}

#sidebar-bottom-cap {
  height: 8px;
  background: url(../images/page/sidebar-bottom-cap-bg.png) no-repeat top center;
  margin: 0 -10px;
}

#logo-upb {
  width: 296px;
  height: 90px;
  background: url(../images/page/logo-upb.png) no-repeat bottom left;
}

#logo-ub {
  width: 220px;
  height: 79px;
  background: url(../images/page/logo-ub.png) no-repeat center center;
}

#page {
  background-color: #fff;
  min-height: 550px;
  -moz-box-shadow: 0 0 20px #777;
  -webkit-box-shadow: 0 0 20px #777;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

#content {
  width: 698px; /* 700px - 2px from the navigation border */
  padding: 30px 0;
}

#footer {
  /*background: transparent url(../images/page/footer-bg.png) repeat-x top left;*/
  padding-top: 1em;
  padding-bottom: 5em;
}

/* Page elements
----------------------------------------------------------------------------------------------------*/

/* Content */

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #081c5a;
  letter-spacing: -0.05em;
}

#content .section {
  border-bottom: 1px solid #d6d6d6;
}

#content a {
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}


/* Meta Navigation */

#meta-navigation {
  text-align: right;
  font-size: 90%;
  color: #6e6e6e;
}

#meta-navigation a {
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
  color: #6e6e6e;
  text-decoration: none;
}

#meta-navigation a:hover {
  text-decoration: none !important;
  background-color: #333;
  color: #eee;
}

#meta-navigation img {
  margin: 0 0 -4px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* Navigation */
#navigation {
  padding: 1.5em 0.8em 0;
}

#navigation h3 {
  font-size: 110%;
  color: #081c5a;
  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
  padding: 0;
  margin: 0 0 1em 0;
}

#navigation ul {
  margin: 0 0 15px;
  padding: 0;
}

#navigation li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li a {
  color: #081c5a;
  text-decoration: none;
  display: block;
  font-weight: normal;
  line-height: 2em;
  border-bottom: 1px solid #d6d6d6;
  border-left: 4px solid #d6d6d6;
  padding: 0 0 0 8px;
  margin: 0 0 1em 0;
}

#navigation li a:hover {
  text-decoration: underline;
}

/* Footer */
#footer {
  text-align: center;
  font-size: 90%;
  color: #6e6e6e;
}

#footer a {
  color: #6e6e6e;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* Page content elements
----------------------------------------------------------------------------------------------------*/

/* SemApp */
.sem-app {
  
}

.sem-app .semester {
  font-style: italic;
  color: #333;
}

.sem-app h4.title {
  font-size: 110%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.sem-app .listing.pui-collection-view {
  
}

.sem-app .listing.pui-collection-view .item {
  padding: 5px;
  position: relative;
}

.sem-app .listing.pui-collection-view .item .toolbar {
  display: none;
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #e3e3e3;
  padding: 5px 25px;
  z-index: 100;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.sem-app .listing.pui-collection-view .item .toolbar a {
  text-decoration: none;
}

.sem-app .listing.pui-collection-view .item .toolbar a:hover {
  text-decoration: none;
}

.sem-app .listing.pui-collection-view .item.highlight {
  background-color: #e3e3e3;
}

.sem-app .listing.pui-collection-view .book {
  
}

/* Book order */
#book-order-listing .book-order {

}

#book-order-listing .book-order .date {
  font-size: 90%;
  font-style: italic;
  color: #333;
}

#book-order-listing .book-order .signature {
  font-weight: bolder;
}

#book-order-listing .book-order .source {

}

#book-order-listing .book-order .state {
  font-style: italic;
}

/* Pagination links */
div.pagination {
  margin: 0.5em 0;
  text-align: center;
}

div.pagination span {
  padding: 2px;
}

div.pagination a {
  padding: 2px;
}

div.pagination span.current {
  background-color: #bedce7;
}

div.pagination span.disabled {
  color: #888;
}