<div id="semesters_listing">
  <% if @semesters and not @semesters.empty?  %>
    <table class="pui-datagrid">
      <tr>
        <th>Titel</th>
        <th></th>
      </tr>
      <% @semesters.each do |s| %>
        <tr>
          <td>
            <%= s.title %>
            <%= '<b>(aktuelles Semester)</b>' if s.current  %>
          </td>
          <td align="right">
            <%= link_to 'Bearbeiten', edit_admin_semester_path(s) %>
            <%= link_to 'Löschen', admin_semester_path(s), :method => :delete, :data => {:confirm => "Soll das Semester #{s.title} wirklich gelöscht werden? Alle an dem Semester hängenden Seminarapparate werden ebenfalls gelöscht. Das kann nicht Rückgängig gemacht werden."} %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="pui-panel notice">
      <p>
        Keine Semester eingerichtet. Bitte erstellen Sie ein neues Semester.
      </p>
    </div>
  <% end %>
</div>
