<div id="semesters_listing">
  <% if @semesters and not @semesters.empty?  %>
    <table class="pui-datagrid">
      <tr>
        <th>Titel</th>
        <th></th>
      </tr>
      <% @semesters.each do |s| %>
        <tr>
          <td>
            <%= s.title %>
            <%= '<b>(aktuelles Semester)</b>' if s.current  %>
          </td>
          <td align="right">
            <%= pui_link_icon 'Bearbeiten', 'pencil', edit_admin_semester_path(s) %>
            <%= pui_link_icon 'Löschen', 'trash', admin_semester_path(s), :method => :delete, :confirm => "Soll das Semester #{s.title} wirklich gelöscht werden? Alle an dem Semester hängenden eSeminarapparate werden ebenfalls gelöscht. Das kann nicht Rückgängig gemacht werden." %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <% pui_panel :panel_style => 'highlight' do %>
      <p>
        Keine Semester eingerichtet. Bitte erstellen Sie ein neues Semester.
      </p>
    <% end %>
  <% end %>
</div>