<h3 class="section">Meine Seminarapparate</h3>

<div class="pui-view align-center">
  <%= icon 'asterisk.png' %>
  <i>Seminarapparate sind erst dann öffentlich sichtbar wenn sie durch die Universit&auml;tsbibliothek gepr&uuml;ft und freigeschaltet wurden.</i>
</div>

<div class="pui-tabs-wrapper">
  <ul class="pui-tabs">
    <li>
      <a href="#byme">
        ... von mir beantragt
      </a>
    </li>
    <li>
      <a href="#editor">
        ... kann ich zusätzlich bearbeiten
      </a>
    </li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :sem_apps => @my_sem_apps %>
    </div>

    <div>
      <%= render 'listing', :sem_apps => @ownerships %>
    </div>
  </div>
</div>
