<% unless book_orders.empty? %>
  <table class="pui-datagrid">
    <thead>
      <tr>
        <th>Löschaufträge</th>
      </tr>
    </thead>
    <tbody>
      <% book_orders.each do |book_order| %>
        <% book_order = book_order.instance %>
        <tr>
          <td>
            <strong>(<%= h(book_order.book_signature) %>)</strong>
            <%= h(book_order.book_title) %><%= ', ' + h(book_order.book_author) if book_order.book_author.present? %><%= ', ' + h(book_order.book_year) if book_order.book_year.present? %><br/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% pui_panel :panel_style => 'highlight', :style => 'text-align: center' do %>
    <p>Aktuell sind <strong>keine</strong> Löschaufträge offen.</p>
  <% end %>
<% end %>