<div class="pui-panel error">
  <p>
    <strong>
      Bitte beachten Sie: Auf Grund der aktuellen Corona-Situation ist eine Vor-Ort-Nutzung der in Seminarapparaten aufgestellten Bücher zur Zeit nicht möglich. Bücher können daher nicht bestellt werden; wir informieren Sie, sobald dies wieder möglich ist. Sie können weiterhin Texte und Medien einstellen und Scan-Aufträge aufgeben.
    </strong>
  </p>
</div>
