<div class="pui-panel error">
  <p>
    <strong>
      Bitte beachten Sie: Auf Grund der aktuellen Corona-Situtation werden keine
      physischen Seminarapparate in der Bibliothek aufgestellt. Buchbestellungen
      sind daher aktuell nicht möglich. Wir informieren Sie, sobald dies wieder
      möglich wird.
    </strong>
  </p>
</div>
