<% unless books.empty? %>
  <div id="book-order-listing" class="pui-collection-view">
    <% books.each do |book| %>
      <div class="item book-order">
        <div class="date">Auftrag vom: <%= l(book.created_at, format: :long) %></div>
        <div class="date">Titel ID: <%= book.ils_id %></div>
        <% if book.signature.present? %>
          <div class="date">
            Signatur: <%= book.signature %>
          </div>
        <% end %>
        <div class="source">
          <%= render 'shared_partials/book_ref', :book => book %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    <p>Aktuell sind <strong>keine</strong> Aufträge offen.</p>
  </div>
<% end %>
