<% form_tag(lookup_sem_app_books_path, :method => :get, :class => 'formtastic') do %>
  <fieldset class="inputs">
    <ol>
      <li class="string">
        <label>Signatur beginnt mit</label>
        <%= text_field_tag 'signature', @signature %>
        <p class="inline-hints">
          Bitte recherchieren Sie die Signatur mit unserem <a href="https://ubaleph.uni-paderborn.de/F" target="blank">Katalog</a>
        </p>
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= submit_tag 'Suchen' %>
      </li>
    </ol>
  </fieldset>
<% end %>