<%= form_tag(new_sem_app_book_path, :method => :get, :class => 'formtastic') do %>
  <fieldset class="inputs">
    <ol>
      <li class="string">
        <label>Titel ID</label>
        <%= text_field_tag 'title_id' %>
        <p class="inline-hints">
          Bitte recherchieren Sie die Titel ID in unserem <a href="https://katalog.ub.uni-paderborn.de" target="blank">Katalog</a>.
          Sie finden die Titel ID in der Detailansicht eines Titels unter "Identifikatoren".
          Beispiel: 990009723250106463
        </p>
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= submit_tag 'Suchen' %>
      </li>
    </ol>
  </fieldset>
<% end %>
