<div class="section">
  <ul>
    <li><%= link_to('Zur Seite', sem_apps_path) %></li>
  </ul>

  <h3>&raquo; Administration</h3>
  <ul>
    <li><%= link_to('Seminarapparate', admin_sem_apps_path) %></li>
    <li><%= link_to('Scanauftr&auml;ge', admin_scanjobs_path) %></li>
  </ul>
</div>
