<%
links = [
  [:sem_app, 'eSeminarapparat', edit_admin_sem_app_path(sem_app)],
  [:ownerships, 'Besitzer', admin_sem_app_ownerships_path(sem_app)]
]
%>

<ul class="pui-tabbar">
  <% links.each do |l| %>
    <li>
      <% if active_tab == l[0] %>
        <%= link_to(l[1], l[2], :class => 'current') %>
      <% else %>
        <%= link_to(l[1], l[2]) %>
      <% end %>
    </li>
  <% end %>
</ul>