<% if entry.attachments.present? %>
  <div class="attachments">
    <span class="header">Datei(en)</span>
    <ol class="attachments-listing clearfix">
      <% entry.attachments.each do |a| %>
        <li class="attachment">
          <% if a.description.present? %>
            <span class="description">
              <%= textilize_without_paragraph(a.description) %>
            </span>
          <% end %>
          <span class="download-link">
            <%= link_to 'Datei herunterladen', a.attachable.url %>
            (<%= a.attachable_file_name %>)
          </span>
        </li>
      <% end %>
    </ol>
  </div>
<% else %>
  <div style="font-style: italic">
    Keine Dateien vorhanden
  </div>
<% end %>