<%= render 'sem_app_entries/publish_notice', :entry => entry %>

<div class="file">
  <div class="description">
    <%= textilize(entry.description) %>
  </div>

  <%= render 'sem_app_entries/attachments', :entry => entry %>
</div>
