<% text_entry = entry.instance %>

<% form_for(text_entry,
  :url => sem_app_entry_path(entry.sem_app.id, entry.id),
  :html => {:id => "entry-form", :class => "puiform entry-form text"}) do |f| %>
  <%= hidden_field_tag :instance_type, entry.instance_type %>
  <%= f.error_messages %>
  <fieldset>
    <legend></legend>
    <ol>
      <li>
        <%= f.label     :body_text, "Text" %>
        <%= f.text_area :body_text, :rows => 20, :cols => 40, :class => 'mce' %>
      </li>
    </ol>
  </fieldset>
<% end %>
