<%= render 'sem_app_entries/publish_notice', :entry => entry %>

<div class="file">
  <div class="description">
    <%= textilize(entry.description) %>
  </div>

  <% if entry.attachments.present? %>
    <ol>
      <% entry.attachments.each do |a| %>
        <li class="attachment">
          <% if a.description.present? %>
            <div class="description">
              <%= textilize(a.description) %>
            </div>
          <% end %>

          <div class="download-link">
            <%= link_to 'Datei herunterladen', a.attachable.url %>
          </div>
        </li>
      <% end %>
    </ol>
  <% else %>
    <div style="font-style: italic">
      Keine Dateien vorhanden
    </div>
  <% end %>
</div>
