<% file_entry = entry.instance %>

<div class="file">
  <% if file_entry and file_entry.sem_app_file_attachment %>
    <p>
      <strong>Datei:</strong> <%= file_entry.sem_app_file_attachment.attachment_file_name %>
      <%= link_to 'Download', file_entry.sem_app_file_attachment.attachment.url %>
    </p>
    <% if file_entry.comment %>
      <p class="comment">
        <%= file_entry.comment %>
      </p>
    <% end %>
  <% end %>
</div>