<% headline_entry = entry.instance %>

<% remote_form_for(headline_entry, :url => sem_app_entry_url(entry.sem_app.id, entry.id), :method => :put) do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label      :headline, "Überschrift" %>
        <%= f.text_field :headline %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <%= f.submit    "Speichern" %>
    <%= link_to_remote('Abbrechen',
      :url => sem_app_entry_url(entry.sem_app.id, entry.id),
      :method => :get) %>
  </fieldset>
<% end %>

<script type="text/javascript">
  jQuery(function() {
    jQuery("input[type=text]:first").focus();
  });
</script>
