<% signature = media.signature        if media.respond_to?(:signature) %>
<% signature = media.source_signature if media.respond_to?(:source_signature) %>

<% if signature.present? %>
  <div>
    Signatur: <%= signature -%>
  </div>
<% end %>
