<div id="users_listing">
  <% if users and not users.empty?  %>
    <%= will_paginate users, :style => "text-align: left" %>
    <table class="pui-datagrid">
      <thead>
        <tr>
          <th>Benutzer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |u| %>
          <tr>
            <td nowrap="true">
              <strong><%= u.full_name %></strong><br/>
              <%= u %>
              <% if u == current_user %>
                <span style="font-style:italic; font-size:90%">(das sind Sie)</span>
              <% end %>
            </td>
            <td>
              <a href="#" rel="pick-user" id="<%=u.id-%>">Hinzuf&uuml;gen</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="pui-panel notice">
      <p>
        Keine Benutzer gefunden.
      </p>
    </div>
  <% end %>
</div>