<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-panel align-right">
    <% link_to sem_app_books_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'book.png' %>
      Buchaufträge
    <% end %>
  </div>
<% end %>

<% if @books.present? %>
  <% if @sem_app.has_book_shelf? %>
    <div class="pui-panel notice align-center">
      Sie finden die Bücher in der <strong><%= h(@sem_app.location.title) %></strong> im
      Seminarapparat <strong>Nr. <%= h(@sem_app.book_shelf.slot_number) %></strong>
    </div>
  <% else %>
    <div class="pui-panel notice align-center">
      <p>Die Bücher dieses Seminarapparates finden Sie regulären Bestand.</p>
    </div>
  <% end %>

  <div id="books-listing" class="listing pui-collection-view">
    <% @books.each do |book| %>
      <%= render 'book', :book => book, :sem_app => @sem_app %>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Für diesen eSeminarapparat sind aktuell <strong>keine</strong> Bücher gelistet.
  </div>
<% end %>