<div id="entry-<%=entry.id-%>" class="item">
  <% if entry.sem_app.is_editable_for?(current_user) %>
    <div class="toolbar">
      <% link_to sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item delete-entry-action" do %>
        <%= image_tag 'icons/cross-circle-frame.png', :plugin => 'pui', :title => 'Diesen Eintrag entfernen' %>
      <% end %>
    </div>
  <% end %>

  <div class="entry">
    <%= render_sem_app_entry(entry) %>
  </div>
</div>