<div id="sem-app-entry-<%=entry.id-%>" class="sem-app-entry">
  <% if sem_app.editable? %>
    <div class="toolbar">
      <% if entry.instance_type == "SemAppBookEntry" %>
        <!-- toobar for books -->
        <%= link_to 'Löschen', sem_app_entry_path(sem_app, entry), :class => "delete-action" %>
      <% else %>
        <!-- toolbar for media entries -->
        MEDIA TOOLBAR
      <% end %>
    </div>
  <% end %>

  <div id="sem-app-entry-<%=entry.id-%>-content">
    <%= render_sem_app_entry(entry) %>
  </div>
</div>