<% if sem_apps and not sem_apps.empty? %>
  <table class="pui-datagrid">
    <% for sem_app in sem_apps %>
      <tr>
        <td width="100%">
          <%= link_to(sem_app.title, sem_app_path(sem_app.id)) %>
          (<%= sem_app.semester.title %>)
          <div style="font-size: 90%">
            Tutor(en): <%= h(sem_app.tutors) %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="panel notice" style="text-align: center">
    <p>Keine eSeminarapparate gefunden</p>
  </div>
<% end %>

