<% if sem_apps.present? %>
  <div id="sem-apps-listing" class="pui-collection-view">
    <% for sem_app in sem_apps %>
      <div class="item sem-app">
        <%= render 'title', :sem_app => sem_app %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Es wurden <strong>keine</strong> eSeminarapparate gefunden.
  </div>
<% end %>

