<div id="media-toolbar" class="app-toolbar">
  <select class="new-media-entry-action">
    <option value="">-- Neuen Eintrag erstellen --</option>
    <option value="SemAppHeadlineEntry">Überschrift</option>
    <option value="SemAppTextEntry">Text</option>
    <option value="SemAppFileEntry">Datei</option>
  </select>
</div>