<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-panel align-right">
    <select class="new-media-entry-action">
      <option value="">-- Neuen Eintrag erstellen --</option>
      <option value="SemAppHeadlineEntry">Überschrift</option>
      <option value="SemAppTextEntry">Text</option>
      <option value="SemAppFileEntry">Datei</option>
    </select>
  </div>
<% end %>

<% if @sem_app.media.present? %>
  <div id="media-listing" class="listing pui-collection-view">
    <% @sem_app.media.each do |entry| %>
      <%= render 'entry', :entry => entry %>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Für diesen eSeminarapparat sind aktuell <strong>keine</strong> Medien verfügbar.
  </div>
<% end %>

<div class="pui-overlay" id="entry-editor-panel">
  <h2 class="section heading">Eintrag Bearbeiten</h2>
  <div class="content" style="overflow: auto"></div>
</div>