<div id="media-toolbar" class="app-toolbar">
  <select class="new-media-entry-action">
    <option value="">-- Neuen Eintrag erstellen --</option>
    <option value="SemAppHeadlineEntry">Überschrift</option>
  </select>
</div>