<div id="media-listing" class="listing pui-collection-view">
  <% if @sem_app.media(current_user).present? %>
    <% @sem_app.media(current_user).each do |entry| %>
      <%= render 'entry', :entry => entry %>
    <% end %>
  <% else %>
    <div id="no-entries-message" class="pui-panel notice align-center">
      Für diesen eSeminarapparat sind hier aktuell <strong>keine</strong> Inhalte verfügbar.
    </div>

    <% if @sem_app.is_editable_for?(current_user) %>
      <div id="dummy-entry" class="item no-hover">
        <h1>Erstellen Sie einen neuen Eintrag</h1>
        <%= render 'sem_apps/entry_dropdown_panel', :origin_id => nil, :inline_style => nil %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-overlay" id="entry-editor-panel">
    <h2 class="section heading">Eintrag Bearbeiten</h2>
    <div class="content" style="overflow: auto"></div>
  </div>
<% end %>