<% if sem_apps and not sem_apps.empty? %>
  <div class="browser">
    <table>
      <tr>
        <th width="30" align="center">#</th>
        <th>Title</th>
        <th width="200">Semester</th>
      </tr>
      <% for sem_app in sem_apps %>
        <tr>
          <td align="center"><%= sem_app.id %></td>
          <td>
            <%= link_to(sem_app.title, sem_app_url(sem_app.id)) %>
          </td>
          <td><%= sem_app.semester.title %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <div class="panel highlight ui-corner-all">
    <p>Keine eSeminarapparate gefunden</p>
  </div>
<% end %>

