<div class="pui-view">
  <h3 class="section">
    <%= link_to sem_app.title, sem_app_path(sem_app) %>
  </h3>
  <div>
    im <%= sem_app.semester.title %>
  </div>
  <div>
    Dozent(en): <strong><%= sem_app.tutors %></strong>
  </div>
</div>
