<div class="pui-panel notice">
  <p>
    Texte und Medien sind urheberrechtlich gesch&uuml;tzt. Sie m&uuml;ssen
    diesen Seminarapparat zun&auml;chst mittels der <strong>Lesekennung</strong>
    freischalten.
  </p>

  <p>
    Diese Kennung erhalten Sie in der Regel von den Dozenten oder den Tutoren der Veranstaltung.
  </p>

  <% form_tag unlock_sem_app_path do %>
    <%= label_tag 'shared_secret', 'Lesekennung:' %>
    <%= password_field_tag 'shared_secret' %>
    <%= submit_tag "Freischalten" %>
  <% end %>

  <p>
    <i>
      Für Seminarapparate vor dem Sommersemester 2010 ist die Lesekennung das Passwort welches Sie
      im alten System für Seminarapparate (<a href="http://ubdok.uni-paderborn.de">Seminarapparate in DuPS</a>)
      auch schon verwendet haben.
    </i>
  </p>
</div>