<h3 class="section">Archiv</h3>

<%= render 'filter_panel', :filter_path => filter_sem_apps_path, :filter_for => [:semester, :location, :title, :tutors] %>

<%= render 'listing', :sem_apps => @sem_apps, :actions => [:show, :transit] %>

<%= will_paginate @sem_apps %>