<h3 class="section">Gesamtliste</h3>

<%= render 'filter_panel', :filter_path => filter_sem_apps_path %>

<%= render 'listing', :sem_apps => @sem_apps, :actions => [:show] %>

<%= will_paginate @sem_apps %>