<% unless User.current %>

  <div class="panel notice">
    <p>
      Um einen eSeminarapparat zu beantragen, müssen Sie sich zunächst anmelden.
      <%= link_to('&raquo; Zur Anmeldung', login_path) %>
    </p>
  </div>

<% else %>
    
  <% if User.current.is_admin? %>
    <h3>Einen neuen eSeminarapparat anlegen (Admin Modus)</h3>
  <% else %>
    <h3>Einen neuen eSeminarapparat beantragen</h3>
  <% end %>

  <%= render 'form' %>

<% end %>