<h3 class="section">Einen neuen Seminarapparat beantragen</h3>

<div class="pui-panel">
  <%= icon 'asterisk.png' %>
  Beantragte Seminarapparate werden durch die Universit&auml;tsbibliothek <strong>&uuml;berpr&uuml;ft</strong> und
  <strong>aktiviert</strong>.
  Jeder Lehrende kann einen Seminarapparat f&uuml;r eine Veranstaltung beantragen.
  <strong>Voraussetzung ist, dass die Veranstaltung im Semester offiziell stattfindet</strong>
  (z.B. Nachweis im <a href="http://paul.uni-paderborn.de">Vorlesungsverzeichnis</a>).
</div>

<%= render 'form' %>
