<h3 class="section">Einen neuen Seminarapparat beantragen</h3>

<div class="pui-panel">
  <%= icon 'asterisk.png' %>
  Beantragte Seminarapparate werden durch die Universit&auml;tsbibliothek <strong>&uuml;berpr&uuml;ft</strong> und
  <strong>aktiviert</strong>.
  Jeder Lehrende kann einen Seminarapparat f&uuml;r eine Veranstaltung beantragen.
  <strong>Voraussetzung ist, dass die Veranstaltung im Semester offiziell stattfindet</strong>
  (z.B. Nachweis im <a href="http://paul.uni-paderborn.de">Vorlesungsverzeichnis</a>).
</div>

<div class="pui-panel notice">
  <p>
    <%= icon 'asterisk.png' %>
    Sie können ab sofort Seminarapparate für das Wintersemester beantragen.
    <strong>Bitte beachten Sie:</strong>
    Die bestellte Buchliteratur für die Apparate des Wintersemesters wird
    erst ab dem <strong>6.9.2010</strong> in der Bibliothek aufgestellt
    und online verzeichnet.
  </p>
  <p>
    Apparate des Sommersemesters, die im Wintersemester weitergeführt werden sollen,
    verlängern Sie bitte bis zum <strong>23.08.2010</strong> über die Funktion
    <i>In das neue Semester übernehmen</i> die Sie bei den Bearbeitungsfunktionen
    Ihrer Seminarapparate finden. Apparate, die bis zum <strong>23.08.2010</strong>
    nicht übernommen wurden, werden aufgelöst.
  </p>
</div>

<%= render 'form' %>
