<h3><%= @sem_app.title %></h3>

<% pui_panel :panel_style => 'blue', :rounded => true, :style => 'padding: 1em;' do %>
  <div>
    <strong>Semester:</strong> <%= h(@sem_app.semester.title) %>
  </div>
  <div>
    <strong>Tutor(en):</strong> <%= h(@sem_app.tutors) %>
  </div>
<% end %>

<%= render 'sem_app', :sem_app => @sem_app %>
