@import "reset";
@import "pui";
@import "default";

body {
  background: none;
}
.no-print {display: none;}
.only-print { display: block; }

h4 {
  border-bottom: 1px solid #d6d6d6;
}

.scanjob-detail * {font-size: 15px !important}
.scanjob-detail div.pui-collection-view.labeled div.item span.label { width: 25% }
.scanjob-detail div.pui-collection-view.labeled div.item div.content { padding-left: 30% }

.book-jobs-print * {font-size: 15px !important}
.book-jobs-print div.pui-collection-view.labeled div.item span.label { width: 25% }
.book-jobs-print div.pui-collection-view.labeled div.item div.content { padding-left: 30% }
