<div class="pui-view">
  <% if @sem_app.books_to_add.present? %>
    <div class="pui-panel align-center">
      <%= image_tag 'icons/plus.png', :plugin => 'pui' %>
      Die folgenden Bücher bitte in den Apparat einstellen
    </div>

    <div class="pui-colletion-view">
      <% @sem_app.books_to_add.each do |b| %>
        <%= render 'book', :book => b %>
      <% end %>
    </div>
  <% else %>
    <div class="pui-panel success align-center">
      Aktuell keine Bücher aufzustellen
    </div>
  <% end %>
</div>