<% if @sem_apps.present?  %>
  <%= will_paginate @sem_apps, :style => "text-align: left" %>
  <table class="pui-datagrid">
    <tbody>
      <% @sem_apps.each do |s| %>
        <tr>
          <td>
            <%= link_to h(s.title), admin_sem_app_url(s) %>
            (<%= h(s.semester.title) %>)
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="pui-panel notice align-center">
    Keine eSeminarapparate gefunden.
  </div>
<% end %>
