<div class="pui-view">
  <h4 class="section">Neue B&uuml;cher</h4>
  <% if @ordered_books.present? %>
    <div class="pui-panel align-center">
      <%= icon 'plus.png' %>
      Die folgenden B&uuml;cher bitte in den Apparat einstellen
    </div>

    <div class="pui-colletion-view">
      <% @ordered_books.each do |b| %>
        <%= render 'book', :book => b %>
      <% end %>
    </div>
  <% else %>
    <div class="pui-panel success align-center">
      Aktuell keine neuen B&uuml;cher
    </div>
  <% end %>

  <h4 class="section">Vormerkungen</h4>
  <% if @deferred_books.present? %>
    <div class="pui-panel align-center">
      <%= icon 'lock.png' %>
      Die folgenden B&uuml;cher wurden vorgemerkt
    </div>

    <div class="pui-colletion-view">
      <% @deferred_books.each do |b| %>
        <%= render 'book', :book => b %>
      <% end %>
    </div>
  <% else %>
    <div class="pui-panel success align-center">
      Aktuell keine B&uuml;cher vorgemerkt
    </div>
  <% end %>
</div>