<div class="pui-view">
  <% if @remove_books.present? %>
    <div class="pui-panel align-center">
      <%= image_tag 'icons/minus.png', :plugin => 'pui' %>
      Die folgenden Bücher bitte aus dem Apparat entfernen
    </div>

    <% @remove_books.each do |b| %>
      <%= render 'book', :book => b %>
    <% end %>
  <% else %>
    <div class="pui-panel success align-center">
      Aktuell keine Bücher zu entfernen
    </div>
  <% end %>
</div>