<div class="pui-view">
  <h4 class="section">B&uuml;cher entfernen</h4>
  <% if @removed_books.present? %>
    <div class="pui-panel align-center no-print">
      <%= icon 'minus.png' %>
      Die folgenden B&uuml;cher bitte aus dem Apparat entfernen
    </div>

    <div class="pui-colletion-view">
      <% @removed_books.each do |b| %>
        <%= render 'book', :book => b %>
      <% end %>
    </div>
  <% else %>
    <div class="pui-panel success align-center">
      Aktuell keine B&uuml;cher zu entfernen
    </div>
  <% end %>
</div>