<h5 class="section">Besitzer</h5>
<div class="pui-collection-view labeled">
  <%= labeled_item :label => 'Besitzer', :content => h(@sem_app.creator.name) %>
  <%= labeled_item :label => 'E-Mail',   :content => h(@sem_app.creator.email) %>
  <%= labeled_item :label => 'UB ID',    :content => h(@sem_app.creator.login) %>
</div>

<h5 class="section">Weitere Bearbeiter</h5>
<div class="pui-panel align-center">
  Die folgenden Benutzer können den Apparat bearbeiten
</div>

TBD