<h2 class="section clearfix">
  <div style="float: left">
    Seminarapparat '<%= @sem_app.title %>' bearbeiten
  </div>

  <div class="align-right" style="margin-bottom: 5px">
    <%= link_to admin_sem_app_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'arrow-curve-180-left.png' %>
      Zurück
    <% end %>
  </div>
</h2>

<%= render :partial => 'form' %>
