<% pui_panel :style => 'text-align: right' do %>
  <%= pui_link_button 'Neuen eSeminarapparat anlegen', new_admin_sem_app_path, :icon => 'plusthick' %>
<% end %>

<h3>eSeminarapparate</h3>

<% if @sem_apps and not @sem_apps.empty?  %>
  <table class="pui-datagrid">
    <tr>
      <th>Titel</th>
      <th></th>
    </tr>
    <% @sem_apps.each do |s| %>
      <tr>
        <td>
          <%= link_to h(s.title), sem_app_url(s) %>
        </td>
        <td align="right">
          <%= pui_link_button 'Bearbeiten', edit_admin_sem_app_path(s), :icon => 'pencil' %>
          <%= pui_link_button 'Löschen', admin_sem_app_path(s), :icon => 'trash', :method => :delete, :confirm => "Soll der eSeminarapparat #{s.id} wirklich gelöscht werden?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <% pui_panel :panel_style => 'highlight' do %>
    <p>
      Keine eSeminarapparate eingerichtet.
    </p>
  <% end %>
<% end %>