<% form_for @user_session, :html => {:method => :delete, :class => 'puiform'} do |f| %>
  <div class="panel notice">
    <p>
      Sie sind aktuell angemeldet als Benutzer <b><%= User.current.login %></b>
    </p>
  </div>

  <fieldset class="submit">
    <%= f.submit "Abmelden" %>
    <%= link_to 'Abbrechen', root_path %>
  </fieldset>
<% end %>