<div class="panel notice">
  <p>
    <strong>Lehrende</strong> die einen eSeminarapparat anlegen möchten, benötigen ein persönliches Login für dieses System*.
    Sollten Sie noch kein persönliches Login haben, können Sie
    <%= link_to '&raquo; hier ein Login einrichten', new_user_path %>.
  </p>
  <p>
    <strong>Studierende</strong> benötigen hier <strong>kein</strong> Login**.
  </p>
</div>

<ul class="pui-tabbar tabs">
  <li><a href="#local">Lokale Anmeldung</a></li>
  <li><a href="#imt">IMT Anmeldung</a></li>
</ul>

<div class="panels">

  <div id="local-login-panel">
    <% semantic_form_for @user_session do |f| %>
      <% f.inputs :name => "Anmelden (mit lokalen Nutzerdaten)" do %>
        <%= f.input :login, :label => 'Login' %>
        <%= f.input :password, :label => 'Passwort' %>
      <% end %>

      <% f.buttons do %>
        <%= f.commit_button 'Anmelden' %>
      <% end %>
    <% end %>
  </div>

  <div id="imt-login-panel">
    <% form_for @user_session, :html => {:class => 'puiform'} do |f| %>
      <fieldset>
        <legend>Anmelden (mit IMT Zugangsdaten)</legend>
        <ol>
          <li>
            <strong>
              Eine Anmeldung mittels Ihrer IMT Zugangsdaten wird in einer späteren Programmversion
              zur Verfügung stehen. Verwenden Sie bitte bis dahin die lokale Anmedung.
            </strong>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
</div>

<p style="font-size: 90%; font-style: italic">
  * In einer späteren Programmversion wird ein Login mittels
  IMT Kennung möglich sein. Vgl. <a href="#" class="pui-overlay-trigger" rel="#login-required-help">Wann benötige ich Zugangsdaten?</a>
</p>

<p style="font-size: 90%; font-style: italic">
  ** Studierende können sich in einer späteren Programmversion ebenfalls mittels ihrer IMT Kennungen
  anmelden. Aktuell erfolgt der Lesezugriff für Studienrende mittels dem in der Veranstaltung
  bekanntgegebenen "Passwort für den Lesezugriff" oder über <a href="http://koala.uni-paderborn.de">koaLA</a>.
</p>

<div class="pui-overlay" id="login-required-help">
  <h2 class="section">Wann benötige ich Zugangsdaten?</h2>
  <p>
    Sie benötigen für die eSeminarapparate nur in folgenden Fällen einen persönlichen
    Zugang.
    [TBD.]
  </p>
</div>

