<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="de"/>
    <meta http-equiv="expires" content="0"/>

    <%= include_pui %>
    <script type="text/javascript">
      jQuery(function() {
        jQuery.alwaysSendAuthToken(<%=form_authenticity_token.inspect-%>);
      });
    </script>
    <%= stylesheet_link_tag("page.css", :media => "screen") %>
    <%= stylesheet_link_tag("formtastic.css", :media => "screen") %>
    <%= stylesheet_link_tag("formtastic_changes.css", :media => "screen") %>

    <title>UB Paderborn - eSeminarapparate</title>
    <%= yield :head %>
  </head>

  <body>
    <div id="meta">
      <div class="container_16 clearfix">
        <div class="grid_16">
          <div id="meta-navigation">
            <a href="#">&raquo; Hilfe</a> |
            <a href="#">&raquo; Über eSeminarapparate</a>
          </div>
        </div>
      </div>
    </div>

    <div id="header">
      <div class="container_16 clearfix">
        <div id="stage-wrapper" class="grid_4 grid_padded">
          <div id="stage"></div>
        </div>
        <div id="logo-upb" class="grid_12"></div>
      </div>
    </div>

    <div id="page">
      <div class="container_16 clearfix">
        <div id="sidebar-wrapper" class="grid_4 grid_padded">
          <div id="sidebar">
            <div id="logo-ub"></div>
            <div id="navigation">
              <%= render 'shared_partials/main_navigation' %>
            </div>
          </div>
          <div id="sidebar-bottom-cap"></div>
        </div>
        <div id="content" class="grid_12">
          <%= yield :layout %>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container_16 clearfix">
        <div class="grid_16">
          &copy; <%= Time.now.year %> <a href="http://www.ub.uni-paderborn.de">Universitätsbibliothek Paderborn</a> |
          <a href="http://www.ub.uni-paderborn.de/sitemap/" tabindex="400">Sitemap</a> |
          <a href="http://www.ub.uni-paderborn.de/impressum/" tabindex="401">Impressum</a> |
          <a href="mailto:webmaster@ub.uni-paderborn.de" tabindex="402">Webmaster</a>
        </div>
      </div>
    </div>
  </body>
</html>
