<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="de"/>
    <meta http-equiv="expires" content="0"/>

    <%= stylesheet_link_tag "print", media: "all" %>

    <title>Universitätsbibliothek Paderborn - elektronische Seminarapparate</title>
  </head>

  <body>
    <div class="container_16 clearfix">
      <div id="content" class="grid_16">
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
